<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BD_PrimerParcial"
            connectionString="Data Source=NOB-0004312\SQLEXPRESS;Initial Catalog=BD_PrimerParcialLUG;TrustServerCertificate=true;Integrated Security=True" />
    </connectionStrings>
</configuration>